<header>
  <div class="navbarimage">
    <img src="img/concertFutSep2020.jpg" alt="Concert au Fut et à Mesure">
  </div>
</header>
{# navbar #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="{{ path('blog')}}">
	 Danny Poizot
	</a>
	<div class="collapse navbar-collapse justify-content">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="">NOS SERVICES<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					PORTFOLIO
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Contact
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">&Agrave; propos</a>
	   </li>
	</ul>
   </div>
</nav>
