html{
	scroll-behavior: smooth;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family : 'Oswald', sans-serif;
	padding: 10px;
	margin: 10px;
	color: #4f5968;
}

hr {
  width: 50%;
  text-align: center;
}

footer {
  text-align: center;
}

img {
  width: 100%;
}

.photo {
  width: 50%;
  border-radius: 50px 50px;
  text-align: right;
}

.greentea {
  width: 50%;
}

.raven {
  width: 50%;
}
